<!-- Registrazione Utenti -->
<div ng-app="AngularJSDatatable" ng-controller="RegisterController">
    <form class="p-3">
        <fieldset>
            <legend>Registra un nuovo utente</legend>

            <div class="row g-3 mb-2">
                <div class="col-md-4">
                    <label>Nome</label><br>
                    <input class="form-control" placeholder="Giona" ng-model="nome">
                </div>

                <div class="col-md-4">
                    <label>Cognome</label><br>
                    <input class="form-control" placeholder="Coppola" ng-model="cognome">
                </div>

                <div class="col-md-4">
                    <label>Data di nascita</label><br>
                    <input type="date" class="form-control" ng-model="data_nascita">
                </div>
            </div>

            <div class="row g-3 mb-2">
                <div class="col-md-4">
                    <label>Nome città</label><br>
                    <select class="form-select" ng-model="id_citta">
                        <option value="{{ city.id }}" ng-repeat="city in cityNames">{{ city.nome }} </option>
                    </select>
                </div>

                <div class="col-md-4">
                    <label>Email</label><br>
                    <input class="form-control" placeholder="email@gmail.com" ng-model="email">
                </div>
            </div>

            <button type="submit" class="btn btn-primary" ng-click="submitHandler()">Registra</button>
        </fieldset>
        <p class="pt-2" id="result-text"></p>
    </form>
</div>